<!DOCTYPE html><html>
<style>

h1{
	text-align: center
}
header {
	background-color:black;
	color:white;
	height:100px;
	width:1420px;
	float:top;
	text-align:center;
	padding:5px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #eeeeee;
  }
  
  li {
	float: right;
  }
  
  li a {
	display: inline-block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover {
	background-color: white;
  }
  
  .active {
	background-color: white;
  }




* {
	box-sizing: border-box;
  }
  
  .img-container {
	float: left;
	width: 33.33%;
	padding: 2px;
  }
  
  .clearfix::after {
	content: "";
	clear: both;
	display: table;
  }

section1 {
	width:1420px;
	float:center;
	text-align:center;
	padding:10px;
}
section2 {
	width:1420px;
	float:center;
	text-align:center;
	padding:10px;
}
section3 {
	width:1420px;
	float:center;
	text-align:center;
	padding:10px;
}
footer {
	background-color:black;
	color:white;
	clear:both;
	text-align:right;
	padding:5px;
}
</style>